.a-container
    .work
        .work__head
            h2.title.title_size_24.work__title Как мы работаем:
    
        .work__box
            span.work__border
            .item.work__block
                .a-grid.work__content.a-grid_iner_none
                    .a-grid__col.a-grid__col_size_2.work__item
                        .n-grid__col_inner.n-grid__col
                            b.num 1
                            img(src="../../../img/5.png", alt="").n-grid__image
                            .n-grid__text Согласовываем параметры автомобиля
                    .a-grid__col.a-grid__col_size_2.work__item
                        .n-grid__col_inner.n-grid__col
                            b.num 2
                            img(src="../../../img/4.png", alt="").n-grid__image
                            .n-grid__text Подписываем договор
                    .a-grid__col.a-grid__col_size_2.work__item
                        .n-grid__col_inner.n-grid__col
                            b.num 3
                            img(src="../../../img/6.png", alt="").n-grid__image
                            .n-grid__text Ищем автомобиль
                    .a-grid__col.a-grid__col_size_2.work__item
                        .n-grid__col_inner.n-grid__col
                            b.num 4
                            img(src="../../../img/3.png", alt="").n-grid__image
                            .n-grid__text Согласовывам автомобиль к покупке
                    .a-grid__col.a-grid__col_size_2.work__item
                        .n-grid__col_inner.n-grid__col
                            b.num 5
                            img(src="../../../img/1.png", alt="").n-grid__image
                            .n-grid__text Встреча с продавцом автомбиля
                    .a-grid__col.a-grid__col_size_2.work__item
                        .n-grid__col_inner.n-grid__col
                            b.num 5
                            img(src="../../../img/2.png", alt="").n-grid__image
                            .n-grid__text Покупка автомобиля
    .tariffs
        .a-grid.work__content
            .a-grid__col.a-grid__col_size_4.tariffs__item

            .a-grid__col.a-grid__col_size_4.tariffs__item
            .a-grid__col.a-grid__col_size_4.tariffs__item
    
