.num{
		border-radius: 50%;
		background-color: rgb(243, 146, 0);
		position: absolute;
		width: 32px;
		height: 32px;
		line-height: 32px;
		top: 41px;
		left: 39px;
			font-size: 24px;
			font-family: "Ubuntu";
			color: rgb(255, 255, 255);
			font-weight: bold;
			text-transform: uppercase;

}
.work{
	position: relative;
	.title{
		text-align: center;
	}
	&__block{
		background-color: rgb(64, 162, 55);
	}
	&__block{
			height: 293px;
	}
	&__block{
		margin-left: -50px;
		margin-right: -50px;
		padding: 0 50px 0 50px;
		margin-top: 53px;
	}
	&__content{
		padding-top: 48px;
	}
	&__title{
		background: #FFF;
		padding: 0 40px;
		position: relative;
		z-index: 5;
		display: inline-block;
	}
	&__head{
		text-align: center;
	}
	&__box{
		padding-bottom:40px;
	}
	&__border{
		position: absolute;
		top: 4%;
		right: 0;
		left: 0;
		bottom: 0;
		border-style: solid;
			border-width: 2px;
			border-color: rgb(243, 146, 0);
			background-color: rgba(55, 73, 95, 0);

	}
}
	.a-grid:before {
	  content: " ";
	  display: table;
	}
	.a-grid:after {
	  content: " ";
	  display: table;
	  clear: both; }
.n-grid__col{
	text-align: center;
	padding: 20px 16px 20px 37px;
	position: relative;
}
.n-grid__text{
	font-size: 14px;
	font-family: "Ubuntu";
	color: rgb(254, 254, 254);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	padding-top: 30px;
}
.a-grid__col_size_6{
	width: 50%;
}
.footer-cell{
	padding: 0;
}
.footer__container{
	background-color: rgb(44, 50, 44);
	height: 296px;
	margin-left: -138px;
    margin-right: -138px;
    padding: 0 138px 0 138px;
}
.float{
	float: left;
}
.footer__image {
	padding-top: 19px;
    padding-left: 30px;
}
.footer__adres {
	padding-left: 50px;
    width: 50%;
}
.footer__adres p{
		font-size: 18px;
		font-family: "Ubuntu";
		color: rgb(127, 128, 127);
		text-transform: uppercase;
		line-height: 1.333;
		text-align: left;
}
.footer__container{
	padding-top: 35px
}
.footer__menu{
	font-size: 14px;
	font-family: "Ubuntu";
	color: rgb(137, 137, 137);
	line-height: 2.143;
	text-align: left;
	padding: 0;
	padding-right: 52px;
    padding-top: 13px;
	margin: 0;
  }
  .footer__social{
	  padding-top: 13px;
	  float: left;
  }

  .footer__menu a {
	font-size: 14px;
	font-family: "Ubuntu";
	color: rgb(137, 137, 137);
	line-height: 2.143;
	text-align: left;
  }
  .footer__social{
		font-size: 18px;
		font-family: "Ubuntu";
		color: rgb(117, 118, 117);
		line-height: 1.333;
  }


@media only screen and (max-width: 1300px) {
	.work__border{
		right: 50px;
		left: 50px;
	}
	.n-grid__col{
		padding: 15px
	}
	.work__block{
		margin-left: 0;
		margin-right: 0;
	}
	.a-grid__col_size_2{
		width: 13%;
	}

}
@media only screen and (max-width: 1200px) {
	.n-grid__image{
		width: 56px;
    height: 56px;
	}
	.n-grid__col{
		padding: 15px;
	}
	.a-grid__col_size_2{
		width: 13%;
	}
	.footer__container{
		margin: 0;
		padding: 20px;
	}
	.work__block{
		height: auto;
	}
	.work__content{
		padding-bottom: 48px;
	}
}
@media only screen and (max-width: 992px) {
	.a-grid__col_size_2{
		width: 33.3333333333%;
		padding: 0;
	}
	.n-grid__col{
		min-height: 170px
	}
}
@media only screen and (max-width: 650px) {
	.a-grid__col_size_2{
		width: 100%;
	}
	.a-grid__col_size_6{
		width: 100%;
	}
	.float{
		float: none;
		padding: 20px;
		width: 100%;
	}
	.footer__adres p{
		font-size: 14px;
		line-height: normal;
	}
	.work__border{
		left: 20px;
		right: 20px;
	}
	.footer{
		height: auto;
	}
	.footer__container{
		height: auto;
		padding: 20px
	}
}
