doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width")
    meta(property="og:title", content="Автоподбор")
    meta(property="og:description", content="Американская киноактриса и певица")
    meta(property="og:image", content="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Marilyn_Monroe_-_publicity.JPG/210px-Marilyn_Monroe_-_publicity.JPG")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://ru.wikipedia.org/wiki/Мэрилин_Монро")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    link(rel="apple-touch-icon", sizes="180x180", href="./img/icons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./img/icons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./img/icons/favicon-16x16.png")
    link(rel="manifest", href="./img/icons/manifest.json")
    link(rel="mask-icon", href="./img/icons/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="./img/icons/favicon.ico")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="./img/icons/mstile-144x144.png")
    meta(name="msapplication-config", content="./img/icons/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    title
      block title
    meta(name="description" content="страница сайта")
    meta(name="Keywords" content="HTML, META, метатег, тег, поисковая система")
  body
    main
        block main
    footer
        .footer 
          .a-container
            .footer__container
              .a-grid
                .a-grid__col.a-grid__col_size_6.footer-cell
                  .footer__image.float
                    img(src="/img/logo.png", alt="")
                  .footer__adres.float
                    p г. Москва, Дмитровское шоссе, дом 100.
                    p тел.: +7(495) 664-46-03
                    p e-mail: info@avtopodbor1.ru

                .a-grid__col.a-grid__col_size_6.footer-cell
                    ul.footer__menu.float
                      li.footer__li
                        a(href="#").link Главная
                      li.footer__li
                        a(href="#").link О нас
                      li.footer__li
                        a(href="#").link Наши услуги
                      li.footer__li
                        a(href="#").link Купить авто
                      li.footer__li
                        a(href="#").link Проверенные авто
                    ul.footer__menu.float
                      li.footer__li
                        a(href="#").link Срочный выкуп авто
                      li.footer__li
                        a(href="#").link Цены
                      li.footer__li
                        a(href="#").link Видео-Обзоры
                      li.footer__li
                        a(href="#").link Вопросы
                      li.footer__li
                        a(href="#").link Контакты
                    .footer__social
                      .footer__title Мы в соц. сетях:
                          .footer__icon
                            img(src="", alt="")
                            img(src="", alt="")
                            img(src="", alt="")
                      .footer__title Принимаем к оплате:
                         .footer__icon
                            img(src="", alt="")
                            img(src="", alt="")
                            img(src="", alt="")
