.header{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow:hidden;
}
.header__logo{
}
.header_inner-bloks-float_left{
  div{
    float: left;
    margin: 1%;
  }
}
.header__input-serach{
  width: 90%;
  padding: 1%;
  font-size: 16px;
  margin-bottom: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid green;
}
.banner{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.banner__info-bloks{
  overflow: hidden;
  list-style: none;
  li{
    width: 16%;
    float: left;
  }
}
