.header.header_inner-bloks-float_left
  .header__logo
    img(src="./../../../img/logo.png")
  .header__search
    input(type="text").header__input-serach
    <a class="button button_them_orange promo-video__button">Оставить заявку </a>
  .header__address
    p г.Москва
    p Дмитровское шоссе д.8
    p пн-вс с <span>9-00<span> до <span>19-00<span>
  .header__phone
    p Москва span 8 800 800-80-80
    p Киров span 8 900 800-80-80
.banner
  .flex-container
    .flexslider
      ul(class="slides")
        li 1
          a(href="#")
            img(src="img/slide1.jpg")
        li
          img(src="img/slide2.jpg")
        li
          img(src="img/slide3.jpg")
  p Попробуйте изменить размер окна
ul.banner__info-bloks
  li Работаем без выходных
  li Короткие сроки исполнения заказа
  li 100% гарантия наши услуги
  li выезжаем в течении одного часа
  li Независимая диагностика автомобиля
  li Сертифицированные эксперты мади
