body, h1, h2, h3, h4, h5, h6, td, th{
	margin: 0;
	padding: 0;
  font-family: "Ubuntu";
}
.button{
	position: relative;
	display: inline-block;
	overflow: visible;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	white-space: nowrap;
	text-decoration: none;
	border: 0;
	outline: 0;
	background: 0 0;
	text-align: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all .3s;
    &::before{
	    content: "";
	    display: inline-block;
	    vertical-align: middle;
	    width: 1px;
	    height: 100%;
        margin-left: -1px;
    }
}
.button_them_orange{
        background-color: rgb(243, 146, 0);
        border-radius: 50px
}
.button_them_green{
		background-color: rgb(64, 162, 55);
		border-radius: 50px;
}
.a-container{
	max-width: 1200px;
	width: 100% ;
	margin: 0 auto;
}
.a-grid__col_size_2{
	width: 14%;
}
.a-grid{
	margin: 0 -15px 0 -15px;
	&__col{
		position: relative;
		float: left;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.a-grid_iner_none{
	margin: 0;
}
.title{
	font-family: "Ubuntu";
	color: rgb(55, 73, 95);
	font-weight: bold;
	text-transform: uppercase;
	&__size_24{
		font-size: 24px;
	}
}

@import "./sava/sava.scss";
@import "./alex/alex.scss";
@import "./danila/danila.scss";
@import "../../components/responsiveslider/css/slider.css";
