.a-container
  .promo-video
    .promo-video__background
    h2.title.promo-video__title Почему стоит обращаться к специалистам по подбору авто
    .video-block
    a.button.button_them_orange.promo-video__button Заказать подбор
  //- .main-promo
    h2.title.main-promo__title Проблемы с которыми сталкивается покупатель:
    .main-promo__inner
      .main-promo__content
        .items-grid
          .grid__cell.grid__cell_one
            .cell__block Скрученный пробег
          .grid__cell.grid__cell_two
            .cell__block Восстановленные авто после ДТП
          .grid__cell.grid__cell_three
            .cell__block Замена подушек безопасности на обманки
          .grid__cell.grid__cell_four
            .cell__block Автомобили с юридическими пробелами
          .grid__cell.grid__cell_five
            .cell__block Трата собственного времени
        .questions-grid
      a.button.button_them_orange.main-promo__button Заказать подбор
