.video-block {
  max-width: 770px;
  height: 435px;
  background-image: url("/../../img/mock.png");
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  margin-bottom: 67px;
}
.promo-video {
  position: relative;

  &__button {
    width: 290px;
    height:56px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    padding-top: 66px;
    letter-spacing: 1px;
    margin-bottom: 55px;
  }

  &__background {
    position: absolute;
    left: -130px;
    right: -130px;
    max-width: 1460px;
    height: 100%;
    background-image: url("/../../img/cars-bg.png");
    background-size: contain;
    background-position: center 240px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.main-promo {
  position: relative;

  &__title {
    position: relative;
    text-align: center;
    padding-top: 95px;
    margin-bottom: 90px;
    background-color: white;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
  }

  &__inner {
    position: absolute;
    left: -50px;
    right: -50px;
    width: 100%;
    height: 1232px;
    background: linear-gradient(#43a639, #40a237);
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    position: relative;
    top: -103px;
    max-width: 1096px;
    margin-right: auto;
    margin-left: auto;
    height: 1166px;
    border: 2px solid rgb(243, 146, 0);
  }

  &__button {
    width: 290px;
    height:56px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }
}
.items-grid {
  width: 100%;
  height: 315px;
  position: absolute;
  top: 60px;
}
.grid__cell {
  width: 20%;
  height: 315px;
  display: block;
  float: left;
  position: relative;
  background-size: cover;

  &_one {
    background-image: url("../../../img/cell1.png");
  }

  &_two {
    background-image: url("../../../img/cell2.png");
  }

  &_three {
    background-image: url("../../../img/cell3.png");
  }

  &_four {
    background-image: url("../../../img/cell4.png");
  }

  &_five {
    background-image: url("../../../img/cell5.png");
  }
}
.cell__block {
  height: 117px;
  width: 178px;
  background-color: #ed1c24;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: -12px;
  left: 9%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
